{
  "ios": {
    "TimeTrackers": {
      "provisioningProfilePath": "ios/certs/TimeTrackers.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/dist-cert.p12",
        "password": "REPLACE_WITH_DIST_CERT_PASSWORD"
      }
    },
    "TimeTrackerWatch Watch App": {
      "provisioningProfilePath": "ios/certs/TimeTrackerWatch.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/dist-cert.p12",
        "password": "REPLACE_WITH_DIST_CERT_PASSWORD"
      }
    }
  }
}
